.filters-title {
    color: #555;
    font-size: 1em;
    margin: 0;
    pointer-events: none;
}


.filters-title:after{
    content: "\25be";

}

.filters-list {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: white;
    border: 1px solid #aaa;
    border-radius: 5px;
}



.filters-item > button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px 20px;
    
}
.filters-item:hover {
    background: #eee;
}

.filters-item:first-child:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.filters-item:last-child:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
.filters-item > button:hover .filter-name {
    text-decoration: underline;
}


.filters-item span {
    font-size: 1em;
    pointer-events: none;
}

.filters-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


/*.filters .active {
    background: blue;
}*/
  
.filters .inactive,
.filters .inactive button {
    color: grey;
    pointer-events: none;
}

.filter-count {
    padding: 10px 10px 10px 5px;
    float: right;
    color: #666;
}

.filter-name {
    float: left;
    padding: 10px 5px 10px 10px;
}

.filter-name::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border: 1px solid #666;
    border-radius: 2px;
}
.active .filter-name::before{
    background: red;
    border: 1px solid red;
}
.inactive .filter-name::before{
    border: 1px solid grey;
}

.filters {
    margin: 0 15px;
}
.filters:first-child {
    margin: 0 15px 0 0;
}

.filters > button {
    width: 100%;
    cursor: pointer;
    padding: 5px 20px 8px;

}

.filters button span {
    pointer-events: none;
}

.active-filters-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}

.active-filter-name {
    pointer-events: none;
}
