.filters__menu {
    /*position: absolute;*/
    z-index: 30;
    left: 15px;
    
    display: flex;
    flex-direction: row-reverse;
}
.filter-cat__menu {
    margin: 0 10px 0 0;
}

.filter-cat__list {
    position: absolute;
    
}
.filter-cat__list,
.filters-item-apply
 {
display: none;
}
.filter-cat__list {
    position: absolute;
}
.open .filter-cat__list {
display: block;
}

.open .filters-item-apply {
display: flex;
justify-content: flex-end;
}
.filter-cat__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    border-radius: 15px;
    border: 1px solid var(--text-primary);
    margin: 10px auto;
    padding: 0 15px;
}
.filter-cat__list {
margin: 0;
padding: 10px;
background: var(--ui-background);
    }
.filter-cat__title {
text-transform: lowercase;
font-size: 0.85em;
font-weight: 100;
pointer-events: none;
}
.filter-cat__item-title {
    color: var(--text-primary);
    font-size: 1.1em;
    }
 
    .filter-cat__item-title::before{
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        border: 1px solid #666;
        border-radius: 2px;
    }
    
    .inactive .filter-cat__item-title::before{
        border: 1px solid #ababab;
    }
.projects-header {
    display: flex;
      flex-wrap: wrap;
      justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
    
    min-height: 50px;
    
    width: 100%;
  }

  .projects-header.mobile {
      right: 0;
      margin: 0;
      width: 100%;
      right: 0;
      margin: 0;
      z-index: 21;
      background: var(--background);
      
      
  }
  .layout-full .projects-header.mobile {
    background: none;
  }

  .filters-button {
    background: none;
    border: none;
  }
