.cv-list__wrapper {
  /*max-width: 275px;*/
  padding: 20px 0;
}
.cv-list__wrapper:first-child {
  padding-top: 0;
}
.cv-list__wrapper:last-child {
  padding-bottom: 0;
}
.cv-list__wrapper:nth-child(2) {
  grid-area: 1/3/1/5;
}

.cv-list__wrapper:nth-child(3) {
  grid-area: 2/3/2/5;
}

.cv-list__wrapper:nth-child(4) {
  grid-area: 3/3/3/5;
}

.cv-list__list,
.software-list__list {
  margin: 0;
  padding: 0;
  text-align: left;
}

.cv-list__item,
.software-list__item {
  border-bottom: 1px solid #cddcc7;
  padding: 0px 5px 0px 5px;
}

.cv-list__description,
.cv-list__name,
.cv-list__period,
.software-list__description,
.software-list__name,
.software-list__period {
  margin: 0;
  text-transform: none;
}

.cv-list__title,
.software-list__title {
  font-size: 1.2em;
  color: #666 !important;
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 100;
}

.cv-list__name {
  font-size: 1em;
  flex-basis: calc(50% - 25px);
}
.cv-list__description {
  font-size: 0.9em;
  flex-basis: calc(50% - 25px);
}
.cv-list__period {
  margin: 5px 0 5px;
  color: #666;
  font-size: 0.75em;
  flex-basis: 50px;
}

.cv-list__period span {
  display: block;
}

.cv-list__name {
  padding: 0;
  margin: 5px 0;
}

.cv-list__link,
.software-list__link {
  display: flex;
  flex-wrap: wrap;
}

.cv-list__link:hover {
  text-decoration: underline;
}

.css-ajz4ko-MuiPaper-root-MuiAccordion-root,
.css-18yf7hb-MuiButtonBase-root-MuiAccordionSummary-root  {
  background: var(--background)!important;
}

