.btn__more, 
.btn__play {
  background: none;
  border: none;
  color: white;
  border: none;
  z-index: 22;
  cursor: pointer;
  /*margin: 0 25px;
  padding-bottom: 12px;*/
  transition: all 0.5s ease;
  width: 50px;
  height: 50px;
  opacity: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn__more {
  right: 0;
}
.btn__play {
  display:none;
}
.album__overlay--scroll .btn__more, 
.album__overlay--scroll .btn__play {
  opacity: 1;
}
.btn__more {
  border-radius: 3px;
  margin: 0px 0px 5px 0px;
}

.btn__play {
  border-radius: 3px;
}

.btn__more .span-one, 
.btn__more .span-two {
  width: 2px;
  height: 30px;
  display: block;
  background: white;
  position: absolute;
  margin: 0;
  top: calc(50% - 15px);
  left: 50%;
  transition: all 0.1s ease;
  border-radius: 1px;
  pointer-events:none;
}

.btn__more .span-three {
  transform: translateX(-15px);
  position: absolute;
  font-size: 2em;
  top: calc(50% - 20px);
  left: calc(50% - 15px);
  opacity: 0;
  transition: all 0.2s ease;
  pointer-events:none;
}

.btn__more .span-one {
  transform: rotate(90deg);
}

.btn__more:hover .span-two {
  transform: rotate(90deg);
}

.btn__more:hover .span-three {
  transform: translateY(-10px) translateX(-15px);
  opacity: 1;
}

.btn__play .span-one, 
.btn__play .span-two {
  width: 3px;
  height: 30px;
  display: block;
  background: white;
  position: absolute;
  margin: 0;
  top: calc(50% - 15px);
  left: 50%;
  transition: all 0.1s ease;
  border-radius: 1px;
  pointer-events:none;
}

.btn__play .span-three {
  transform: translateX(-8px);
  position: absolute;
  font-size: 2em;
  top: calc(50% - 20px);
  left: calc(50% - 15px);
  opacity: 0;
  transition: all 0.2s ease;
  pointer-events:none;
}

.btn__play .span-one {
  transform: rotate(90deg);
}

.btn__play .span-one {
  transform: rotate(65deg) translateX(7px);
}

.btn__play .span-two {
  transform: rotate(-65deg) translateX(7px);
}

.btn__play:hover .span-one, 
.btn__play:hover .span-two {
  transform: rotate(90deg) translateX(0px);
}

.btn__play:hover .span-three {
  transform: translateY(-10px) translateX(-8px);
  opacity: 1;
}


@media (min-width: 600px) { 
  .album__overlay--scroll .btn__more, 
  .album__overlay--scroll .btn__play {
    opacity: 0;
  }
}
