/***************************************************/
/*                                                 */
/*                    ALBUM VIEW                   */
/*                                                 */
/***************************************************/
.album {
  z-index: 1;
  width: 100%;
}

.album__list, .album__sub-list {
  list-style-type: none;
  margin: 40px 15px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  
  overflow: scroll;
  grid-gap: 20px;
  position: relative;
  scroll-snap-type: y mandatory;
}
.album__sub-list {
  height: calc(100vh - 75px);
}
.album__list::-webkit-scrollbar, .album__sub-list::-webkit-scrollbar {
  display: none;
}
.album__list, .album__sub-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.album__item, .album__sub-item {
  
  /*calc(100vw * 0.5625);*/
  position: relative;
  overflow: hidden;
  grid-column: span 12;
  cursor: pointer;
  
}
.album__sub-item{
  height: calc(100vh - 60px);
  scroll-snap-align: start;
  width: 100%;
  
}

.album__item--vertical {
  height: calc(100vh - 60px);
  /*height: calc(50vw * 0.5625 * 2.5);*/
  width: 100%;
  /*grid-row: span 2;*/
  grid-column: span 12;
}
.album__item--special {
/*margin-top: calc(-50vw * 0.5625 * 0.667 - 20px);*/
}

.album__link {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline;
}
.album__item--0 .album__link video {
  transform: translateX(-25%) translateY(0%);
}
.album__item--1 .album__link video {
  transform: translateX(-45%) translateY(0%);
}
.album__img--thumb {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/****************************************************/
/*                                                  */
/*                  COLLECTION VIEW                 */
/*                                                  */
/****************************************************/
.collection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.collection__icon {
  position: absolute;
  right: 0;
  opacity: 0.75;
}

.collection__link {
  height: 100%;
  cursor: pointer;
  z-index: 50;
  margin: 1px;
  display: flex;
  border-radius: 3px;
}

.collection__img {
  width: 100%;
  max-width: 100px;
  padding: 3px;
  max-height: 80px;
}

.collection__thumb-nav {
  position: absolute;
  bottom: -75px;
  display: flex;
}

/****************************************************/
/*                                                  */
/*                    SINGLE VIEW                   */
/*                                                  */
/****************************************************/
.single {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single__wrapper {
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 10000;
}

.single__wrapper--collection {
  overflow: hidden;
  padding-bottom: 20px;
  overflow: visible;
}

.single__left-arrow-link,
.single__right-arrow-link {
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  z-index: 5;
}

.single__left-arrow-link {
  left: 0%;
}

.single__right-arrow-link {
  right: 0%;
}

.single__img {
  width: auto;
  max-height: 100vh;
  object-fit: contain;
  max-width: 90vw;
  max-height: 95vh;
}

.single__img-counter {
  font-size: 1em;
  font-weight: 100;
  position: fixed;
  bottom: 10px;
  font-style: italic;
  opacity: 0.5;
}

/****************************************************/
/*                                                  */
/*                  FULLSCREEN VIEW                 */
/*                                                  */
/****************************************************/
.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen {
  z-index: 10000;
  position: relative;
}

.fullscreen__button-wrapper {
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100000;
  mix-blend-mode: difference;
}

.fullscreen__icon {
  width: 35px !important;
  height: 35px !important;
}

.fullscreen-enabled .single__img {
  max-width: 100vw;
  max-height: 100vh;
}

.fullscreen-enabled .collection__link {
  max-height: 90px;
  max-width: 160px;
}

.fullscreen-enabled .collection__thumb-nav {
  bottom: 0;
}

.fullscreen__button {
  background: transparent;
  border: none;
  cursor: pointer;
  transform: scale(1);
  will-change: transform;
  transition: transform 0.25s ease;
}

.fullscreen__button:hover {
  transform: scale(1.15);
}

/****************************************************/
/*                                                  */
/*                 ALBUM NAVIGATION                 */
/*                                                  */
/****************************************************/
.left-arrow {
  cursor: url(/public/icons/left-arrow.png), auto;
}

.right-arrow {
  cursor: url(/public/icons/right-arrow.png), auto;
}

.left-arrow,
.right-arrow {
  border: none;
  background: transparent;
  opacity: 0.5;
  will-change: opacity;
  transition: opacity 0.25s ease;
  width: 100%;
  height: 100%;
  padding: 0;
}

.left-arrow:hover,
.right-arrow:hover {
  opacity: 1;
}

.exit {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0px;
  right: 0px;
  background: transparent;
  border: none;
  margin: 5px 10px;
  cursor: pointer;
  z-index: 10;
  transform: scale(1);
  transition: transform 0.25s ease;
  will-change: transform;
}

.exit:hover {
  transform: scale(1.15);
}

.exit img {
  width: auto;
  height: 100%;
}

.single {
  background: #0f0f0fe6;
}

.fullscreen__icon {
  color: #d9ead3;
}
.notInView {
  opacity: 0;
}
.inView {
  opacity: 1;
}

.notInView, .inView {
  transition: all 1s ease;
}
.modalView {
  width: 100%;
  height: 100%;
}


@media screen and (min-width: 600px) {
  .album__list {
    height: auto;
  }
  .album__item, .album__sub-item {
    height: calc(50vw * 0.5625);
    grid-column: span 6;
    
  }
  .album__item--vertical {
    height: calc(33.34vw * 0.5625 * 2);
    grid-row: span 2;
    grid-column: span 3;
  }
  .album__item--special {
  margin-top: calc(-50vw * 0.5625 * 0.667 - 20px);
  }
  .album__item--0 .album__link video {
    transform: translateX(0%) translateY(0%);
  }
  .album__item--1 .album__link video {
    transform: translateX(0%) translateY(0%);
  }
}