
.showreel-wrapper {
    width: 100vw;
    /*height: calc(100vh - 100px);*/
  /*  margin-top: 50px;*/
    /*background: black;*/
}

.showreel__poster {
    object-fit: cover;
    max-height: 60vh;
    width: calc(100vw - 30px);
    overflow: hidden;
    /*margin: 0 15px;*/
    /*position: absolute;*/
}