
/*.showreel-wrapper {
    width: 100vw;
}

.showreel__poster {
    object-fit: cover;
    max-height: 60vh;
    width: calc(100vw - 30px);
    overflow: hidden;
}
*/
.video-embed__wrapper {
  height: 100%;
}
:is(vimeo-embed, youtube-embed) {
  /*aspect-ratio: 16 / 9;*/
  height: 100%;
  border-radius: var(--video-embed-bdrs, 0.25em);
  display: grid;
  inline-size: 100%;
  position: relative;
}
:is(vimeo-embed, youtube-embed) :is(iframe, img) { 
  block-size: 100%;
  border: 0;
  border-radius: inherit;
  inline-size: 100%;
  inset: 0;
  object-fit: cover;
  position: absolute;
  /*height: 50vh;*/
  
}
:is(vimeo-embed, youtube-embed) button {
  background-color: transparent;
  block-size: var(--button-h, 50px);
  border: 0;
  border-radius: var(--button-bdrs, 14%);
  display: grid;
  inline-size: var(--button-w, 75px);
  opacity: var(--button-op, 0.8);
  position: absolute;
  place-self: center;
  transition: all .2s ease-in;
  width: 100%;
  height: 100%;
}
:is(vimeo-embed, youtube-embed) h3 {
 
 
 
 font-style: italic;
 font-weight: 300;
 margin: 0;
 padding: 0;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: calc(100% - 15px);
  height: calc(100% - 10px);
  font-size: 0.9em;
  pointer-events: none;
}

:is(vimeo-embed, youtube-embed) button::before {
  aspect-ratio: 1;
  background: #FFF;
  block-size: 2em;
  clip-path: polygon(20% 0%, 20% 100%, 100% 50%);
  content: '';
  place-self: center;
}

/*vimeo-embed button { --button-bgc: #00adef; }*/

:is(vimeo-embed, youtube-embed) iframe:not([src=""]) + button,
:is(vimeo-embed, youtube-embed) iframe:not([src=""]) + h3 {
  display: none;
}
:is(vimeo-embed, youtube-embed) iframe:not([src=""]) {
background: black;
}
