body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

html,
body,
#root,
#app {
  height: 100%;
  margin: 0;
  font-family: "Oxygen", sans-serif;
}
button, a {
  color: #353535;
}
#app {
  display: flex;
  flex-direction: column;
  color: #141c3a;
  padding: 55px 0 0 0;
}

#search-container {
  padding: 33px 36px 0px 36px;
  position: relative;
}

#search {
  width: 100%;
  padding: 9px 25px 9px 40px;
  border-radius: 16.5px;
  border: solid 1px #141c3a;
  background-color: #ffffff;
  outline: none;
  box-sizing: border-box;
}

#search-icon {
  opacity: 0.5;
  position: absolute;
  top: 42px;
  left: 53px;
}

#search::placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #8a8e9d;
}

#search-clear-button {
  position: absolute;
  right: 42px;
  top: 36px;
  bottom: 3px;
  border: 0;
  background: none;
  color: #141c3a;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header {
  font-size: 32px;
  font-weight: bold;
  color: #141c3a;
  margin: 0;
  margin-bottom: 16px;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  border-radius: 6px;
  border: solid 1px #141c3a;
  overflow: hidden;
  min-height: 330px;
}

.project-button-wrapper {
  position: absolute;
  bottom: 20%;
  right: 10%;
  display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin: 20px 0 0;
}

.project-type, .project-company  {
  position: absolute;
  margin: 0;
  
}
.project-name, .project-role, .project-technique {
  margin: 0;
  padding: 0;
}
.project-role {
  top: 0;
  left: 0;
}
.project-technique {
  top: 0;
  right: 0;
}
.project-type {
  bottom: 0;
  left: 0;

}
.project-company {
  bottom: 0;
  right: 0;
}

.project:hover,
.project:active,
.project:focus,
.project:focus-within {
  /*background: #141c3a;*/
  /*color: #ffffff;*/
}
.project-container,
.project-info,
.project-technique,
.project-name,
.project-role,
.project-type,
.project-company {
  pointer-events: none;
}
/*.project:hover .project-image,
.project:focus .project-image,
.project:focus-within .project-image {
  opacity: 0.7;
}*/

.project-name {
  margin: 0;
  
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  
  
}

.project-container {
  grid-row-start: 1;
  grid-column-start: 1;
  display: grid;
  align-items: center;
  justify-content: left;
  
  height: inherit;
  padding: 30px;
}

#projects-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.projects-section {
  /*padding: 32px 0px; /*36px;*/
}

.spinner {
  display: block;
  margin: 0 auto;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#error-wrapper {
  text-align: center;
}
.project-info {
  /*position: absolute;*/
  z-index: 1;
}



.image-container {
  /*width: 100%;
  height: 100%;
  */
 /* z-index: -1;
  
  
  position: absolute;
  top: 0;
  left: 0;
  */
display:flex;
justify-content: center;
align-items: center;

    
    
    
}

.project-image {
  /*width: 100%;
  height: 100%;*/
/*
  flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
  */
  width: 100%;
    object-fit: cover;
    position: absolute;
    height: 100%;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
}

ul {
  list-style-type: none;
}

/****************************************************/
/*                                                  */
/*                    TYPOGRAPHY                    */
/*                                                  */
/****************************************************/
@font-face {
  font-family: "menuFont";
  src: url("../public/fonts/GeometricaSans-Regular.woff2") format("woff2");/*, url("../public/fonts/GeometricaSans-Regular.tff") format("truetype");*/
}
h1,
h2 {
  font-family: "menuFont";
  letter-spacing: 3px;
  margin: 0;
  text-align: left;
}

h1,
h2,
h3,
.uppercase {
  text-transform: uppercase;
}

h1 {
  font-weight: 800;
  font-size: 2.6em;
}

h2 {
  font-weight: 600;
  font-size: 2em;
  margin-top: 4px;
}

h3,
h4,
a,
button {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  text-decoration: none;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 1em;
  padding: 10px 0;
  hyphens: auto;
  text-align: justify;
  line-height: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
