@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");




.back__link {
  position: fixed;
  bottom: 0px;
  padding-bottom: env(safe-area-inset-bottom);
  left: 0;
  border-radius: 0 2px 0 0;
  background: transparent;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    

  
}
body.theme-dark {
  background: rgb(10, 10, 10);
}
body.theme-light {
  background: white;
}
:root {
  --background: white;
  --text-primary: #141c3a;
  --text-secondary: royalblue;
  --accent: rgb(22, 22, 22);
}
[data-theme='dark'] {
  --background: rgb(10, 10, 10);
  --text-primary: white;
  --text-secondary: grey;
  --accent: rgb(237, 235, 228);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
        scroll-snap-type: y mandatory;
        scroll-padding-top: 0px;
        scroll-behavior: smooth;
        height: -webkit-fill-available;
        overflow: hidden;
        overflow-y: scroll;
        box-sizing: border-box;
}
html,
body,
#root,
#app {
  margin: 0;
  font-family: "Oxygen", sans-serif;
}

button, a {
  color: var(--accent);
}

#app {
  color: var(--text-primary);
  padding: 0px 0 0 0;
}


.header {
  font-size: 32px;
  font-weight: bold;
  color: var(--text-primary);
  margin: 0;
  margin-bottom: 16px;
}

.spinner {
  display: block;
  margin: 0 auto;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#error-wrapper {
  text-align: center;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  /*overflow: hidden;
  overflow-y: scroll;*/
}

ul {
  list-style-type: none;
}

/****************************************************/
/*                                                  */
/*                    TYPOGRAPHY                    */
/*                                                  */
/****************************************************/
@font-face {
  font-family: "menuFont";
  src: url("../public/fonts/Gilroy-Light.woff2") format("woff2");
}
h1,
h2 {
  font-family: "menuFont";
  letter-spacing: 1px;
  margin: 0;
  text-align: left;
}

.filters-apply {
  font-weight: 500;
  color: #353535;
  font-family: "Oxygen", sans-serif;
  text-transform: uppercase;
}

h1,
h2,
h3,
.uppercase {
  text-transform: uppercase;
}

h1 {
  font-weight: 800;
  font-size: 2.4em;
}

h2 {
  font-weight: 600;
  font-size: 2em;
  margin-top: 4px;
}

h3,
h4,
a,
button {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  text-decoration: none;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 1em;
  padding: 10px 0;
  hyphens: auto;
  text-align: justify;
  line-height: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a.hide img {
  opacity: 0;
  pointer-events: none;
}

.more {
  pointer-events: none;
}


/*
  .wrapper {
    min-height: 100vh;
  }*/
.more-less-btn {
  background: none;
  text-decoration: underline;
  color: #11224b;
  border: none;
  font-size: 0.8em;
  font-weight: 700;
  margin: 0px 5px;
  float: right;
  cursor: pointer;
  /*width: 100%;*/
}

.l-grid__item {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 56.25vw;
  /*max-height: 33vh;*/
  width: 30%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  cursor: pointer;
  flex-grow: 1;
  margin: 10px;
  flex-basis: auto;
  max-height: 200px;
}

.l-grid__item--album:nth-child(1) {
  flex-basis: 48%;
}

.l-grid__item--album:nth-child(2) {
  flex-basis: 23%;
}

.l-grid__item--album:nth-child(3) {
  flex-basis: 23%;
}

.c-video,
.c-video--mobile a {
  overflow: hidden;
  position: absolute;
  width: 101%;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  will-change: transform, opacity;
  max-width: 100%;
  margin: 0 0px;
}

.c-video.hide {
  opacity: 0;
  -webkit-transform: translateY(-5%) scale(1.1);
  -ms-transform: translateY(-5%) scale(1.1);
  transform: translateY(-5%) scale(1.1);
}

.c-video__video {
  -o-object-fit: cover;
  object-fit: cover;
  height: 101%;
  width: auto;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-bottom: 1px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  display: block;
}

.c-video__poster-wrapper {
  width: 100%;
  height: 100%;
}

.c-video__link-container {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
}

.c-video__link {
  will-change: opacity;
  position: relative;
  font-size: 1.1em;
  font-family: spezia;
  color: white;
  text-transform: uppercase;
  display: block;
  margin: 5%;
  text-shadow: 1px 1px #3c3c3c;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.c-video__link--show {
  opacity: 1;
}

.c-video__link:hover {
  text-decoration: underline;
  color: #d4a465;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: center;
  /*margin: 0 10px;*/
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}


.video-popup-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 20px;
  left: 0;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.video-popup-wrapper-zindex {
  z-index: 5;
  pointer-events: all;
}

.video-popup {
  width: 76.8vw;
  height: 43.2vw;
  background: black;
  min-height: 360px;
  max-height: 720px;
  max-width: 1280px;
}

.video-popup-wrapper-bg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background);
  cursor: pointer;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.5s ease;
}

.video-popup-wrapper-bg-fade {
  opacity: 0.7;
}


.showreel-play-btn  > div > div {
  transition: all 0.25s ease;
}

.showreel-play-btn:hover > div > div{
  transform: scale(1.05);
  transition: all 0.25s ease;
}

.project-button-wrapper {
  position: absolute;
  bottom: 15%;
  right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  margin: 20px 0 0;
  width: 100%;
}

.project-button-wrapper button {
  width: 100%;
  max-width: 120px;
  margin: 0px;
  padding: 10px 20px;
}

.project-button-wrapper a {
  width: 100%;
  max-width: 120px;
  margin-right: 10px;
}

.project-type, 
.project-technique, 
.project-company {
  position: absolute;
  margin: 0;
}

.project-name {
  margin: 0;
  padding: 0;
}

.project-name {
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 5px;
}

.project-type {
  top: 10px;
  right: 20px;
}

.project-company {
  bottom: 10px;
  right: 20px;
  display: none;
}

.project-company::before {
  content: "©";
  padding-right: 5px;
  color: #3f3f3f;
  display: inline-block;
  font-size: 1.2em;
}

.projects-counter {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

.projects-counter-current {
  color: #353535;
  font-weight: 700;
}

.projects-counter-total {
  color: #353535;
}

.project-technique,
.project-name,
.project-type,
.project-company {
  pointer-events: none;
}

/*.projects-single-contain {
  margin: 0 20px;
}*/

#projects-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /*margin-top: 40px;*/
}

.project-name {
  opacity: 0;
  color: white;
  flex-basis: 100%;
  display: none;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.album__image.project-single-image {
  position: relative;
  
}

.project-single-details {
  cursor: pointer;
  font-size: 0.85em;
}

.project-single-details:hover {
  text-decoration: underline;
}

.projects-single-image-wrapper {
  height: 100%;
  width: 100%;
}

.project-single-wraps {
  height: 450px;
  /*position: absolute;*/
  top: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.project-single-content {
  justify-content: space-between;
  align-items: flex-start;
}

.project-single-content-wrapper {
  margin: 0 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  align-items: center;
}

.project-single-content-wrapper h1 {
  flex-basis: 100%;
  padding: 0 10px;
  margin: 0px 10px;
  font-weight: 100;
  text-transform: capitalize;
  font-size: 2em;
  display: flex;
  height: 80px;
  align-items: center;
}

.project-single-intro {
  flex-basis: 100%;
  height: 220px;
  margin: 0 25px;
  font-size: 1.2em;
}

.project-single-details-list,
.project-single-details-list > li,
.project-single-details-list > li > ul {
  margin: 0;
  padding: 0;
}

.project-single-details-list > li > ul {
  margin: 0 5px;
}

.project-single-details-list > li > ul > li {
  margin: 0 5px;
}

.project-single-details-list > li > ul > li:last-child {
  margin: 0 15px 0 5px;
}

.project-single-details-list > li,
.project-single-details-list > li > ul {
  display: inline-flex;
}

.project-single-details-list > li::before {
  content: "";
  width: 10px;
  height: 10px;
  margin: 5px 0px 0 0;
}

.project-single-details-list > li:nth-child(1)::before {
  background: #84dccd;
}

.project-single-details-list > li:nth-child(2)::before {
  background: #89eacc;
}

.project-single-details-list > li:nth-child(3)::before {
  background: #cdf7cb;
}

.project-single-details-list > li:nth-child(4)::before {
  background: #fbfcce;
}

.project-single-details-list {
  padding: 10px 10px;
  margin: 0 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-single-summary {
  max-width: 597px;
  margin: 575px 30px 125px;
  flex-basis: 100%;
  width: 100%;
}

.project-single-summary-text-container {
  width: 100%;
  margin: 0px;
}

.project-single-summary-texty.closed {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.project-single-summary-texty {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

.projects-category-item {
  cursor: pointer;
}

.projects-category-list {
  margin: 11px 0px 0px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;
}

.projects-category-item {
  width: 100%;
  height: 33.33vh;
  position: relative;
  transition: all 0.5s ease;
}

.projects-category-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 15%;
}

.projects-category-allBtn {
  position: fixed;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  width: 100px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
}

.projects-category-allBtn:hover {
  background: #ebebeb;
}

.projects-category-title {
  position: absolute;
  color: white;
  font-weight: 900;
  font-size: 2em;
  bottom: 15px;
  right: 20px;
  z-index: 1;
  pointer-events: none;
}

.projects-category-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  transition: all 0.5s ease;
}

.fade .projects-category-bg {
  opacity: 0.5;
}

.shrink {
  width: 90%;
}

.grow {
  width: 120%;
}

.projects-section {
  background: var(--background);
  z-index: 1;
}
