
@media (min-width: 360px) { 
    .bleh {
        grid-column-gap: 20px!important;
        /*grid-row-gap: 40px;*/
        grid-template-columns: repeat(2, minmax(150px, 31vw))!important
        
    }
   
    .empty.open .filters-ref-wrapper-mobile {
        margin: 45px 10px 12px!important;
    }
    .open .filters-ref-wrapper-mobile {
        padding: 20px 25px;
        margin: 0 10px;

    }
    .filters-button-mobile {
        padding: 8px 5px!important;
    }
    
    
  
    }

    @media (min-width: 480px) { 
        .bleh {
            grid-column-gap: 40px!important;
        }
        /*.l-grid__item {
            flex-basis: auto;
        }*/
        .project-single-content-wrapper h1 {
          margin: 0px 25px 0px 45px;
          font-size: 2.5em;
          height: 150px;
        }
      .project-intro{
        margin: 0 55px;
      }
      .project-summary {
        margin: 600px 55px 150px;
      }
        
    }
    @media (min-width: 600px) { 
        .project-single-content-wrapper {
            margin: 0% 0px 0;
        }
        /*.video-wrapper {
           margin: 0 55px;
        }*/
        .bleh {
            grid-column-gap: 60px!important;
        }
        .projects-container {
            grid-template-columns: repeat(2, 1fr);
            
          }
          .projects-contain {
            grid-template-columns: repeat(2, 1fr);
          }
          .project-summary {
            margin: 625px 100px 150px;
          }
          .project-summary {
            /*max-width: 48%;*/
            /*margin-right: 6%;*/
            
          }
          .c-video{
            margin: 0;
          }
          .l-grid__item {
            max-height: 350px;
            max-width: 600px;
            margin: 5% 50px;

          }
          .project-single-content-wrapper {
            flex-basis: 100%;
            /*flex-direction: column;*/
          }
          .project-single-details {
            font-size: 1em;
          }

.l-grid__item--album {
    max-height: 250px;
    margin: 20px 10px;
  }

  .mobile .active-filters-wrapper {
    top: 7px!important;
    right: 100px!important;
    
}
.filters-mobile-btn {
  width: auto!important;
}

          
    }
        

    @media (min-width: 720px) { 
    .bleh {
        grid-column-gap: 25px!important;
        grid-template-columns: repeat(4, minmax(150px, 1fr))!important;
    }
      
  .projects-category-list {
    
    padding: 0;
    display: flex;
  }
  .projects-category-item {
    
    height: calc(100vh - 100px);
    
  }
  .projects-category-img {
      object-position: 50% 50%;
  
  }
  .projects-category-item:nth-child(1) .projects-category-img{
    object-position: 50% 50%;

}
   
}
@media (min-width: 780px) { 
    .bleh {
        grid-column-gap: 45px!important;
        
    }
    .project-summary {
        /*max-width: 450px;*/
      }
      .project-single-content-wrapper h1 {
        flex-basis: calc(50% - 80px);
        margin: 0px 25px 100px 55px;
        font-size: 3em;
        height: 300px;
      }
      .project-intro {
        flex-basis: 40%;
        margin: 0;
      }

}
@media (min-width: 850px) { 
    .bleh {
        grid-column-gap: 60px!important;
        
    }

}
@media (min-width: 950px) { 
    #app {
        padding: 0;
    }
    .projects-contain {
        /*left: 65px;
        margin: 0 15px 0 15px;
  
        /*width: calc(100% - 160px);*/
        
      }
      .project {
        min-height: 350px;
        max-height: 350px;
      }
      .featured-projects-container .project {
        min-height: 350px;
        max-height: 100%;
      }
    .bleh {
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    }

    .project-single-content-wrapper {
        flex-basis: 100%;
      }
    /*  .project-single-content {
        margin: 30px 0 0px 50px;
    }*/

    .projects-container {
        grid-template-columns: repeat(3, 1fr);
        
      }
      /*.projects-contain {
        display:grid;
        grid-template-columns: 1fr 2fr;
      }*/
/*
      .project-image.project-single-image {
        float: right;
      }
*/
      /*.project-single-content-wrapper {
        margin: 0 30px;
      }*/
      /*.project-summary {
        max-width: 100%;
      }*/
      .project-image.project-single-image {
        max-height: 100vh;
      }
      .l-grid__item {
        max-height: 330px;
        margin: 20px 50px;
      }
      .l-grid__item--album {
        max-height: 250px;
        margin: 10px;
      }
      /*.projects-single-image-wrapper {
        position: sticky;
        top: 50px;
      }*/

}

@media (min-width: 1350px) { 
 


    .projects-container {
        grid-template-columns: repeat(4, 1fr);
        
      }
      .projects-contain {
        grid-template-columns: 1fr 2fr;
      }


}
