
@media (min-width: 360px) { 
    .bleh {
        grid-column-gap: 20px!important;
        /*grid-row-gap: 40px;*/
        grid-template-columns: repeat(2, minmax(150px, 31vw))!important
        
    }
   
    .empty.open .filters-ref-wrapper-mobile {
        margin: 45px 10px 12px!important;
    }
    .open .filters-ref-wrapper-mobile {
        padding: 20px 25px;
        margin: 0 10px;

    }
    .filters-button-mobile {
        padding: 8px 5px!important;
    }
  
    }

    @media (min-width: 480px) { 
        .bleh {
            grid-column-gap: 40px!important;
        }
        
    }
    @media (min-width: 600px) { 
        .bleh {
            grid-column-gap: 60px!important;
        }
        .projects-container {
            grid-template-columns: repeat(2, 1fr);
            
          }
          .projects-contain {
            grid-template-columns: repeat(2, 1fr);
          }
          
    }
        

    @media (min-width: 720px) { 
    .bleh {
        grid-column-gap: 25px!important;
        grid-template-columns: repeat(4, minmax(150px, 1fr))!important;
    }
   
}
@media (min-width: 780px) { 
    .bleh {
        grid-column-gap: 45px!important;
        
    }
}
@media (min-width: 850px) { 
    .bleh {
        grid-column-gap: 60px!important;
        
    }
}
@media (min-width: 950px) { 
    #app {
        padding: 0 65px;
    }
    .projects-contain {
        /*left: 65px;
        margin: 0 15px 0 15px;
  
        /*width: calc(100% - 160px);*/
        
      }
    .bleh {
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    }



    .projects-container {
        grid-template-columns: repeat(3, 1fr);
        
      }
      .projects-contain {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .project-image.project-single-image {
        float: left;
      }

      .project-single-content-wrapper {
        margin: 0 30px;
      }
      


}

@media (min-width: 1350px) { 
 


    .projects-container {
        grid-template-columns: repeat(4, 1fr);
        
      }
      .projects-contain {
        grid-template-columns: repeat(4, 1fr);
      }


}
