
@media (min-width: 360px) { 
    .bleh {
        grid-column-gap: 20px!important;
        /*grid-row-gap: 40px;*/
        grid-template-columns: repeat(2, minmax(150px, 31vw))!important
        
    }
    .empty.open .filters-ref-wrapper-mobile {
        margin: 42px 10px 12px!important;
    }
    .open .filters-ref-wrapper-mobile {
        padding: 20px 25px;
        margin: 0 10px;

    }
    .filters-button-mobile {
        padding: 15px 5px!important;
    }
  
    }

    @media (min-width: 480px) { 
        .bleh {
            grid-column-gap: 40px!important;
        }
    }
    @media (min-width: 600px) { 
        .bleh {
            grid-column-gap: 60px!important;
        }
    }
        

    @media (min-width: 720px) { 
    .bleh {
        grid-column-gap: 25px!important;
        grid-template-columns: repeat(4, minmax(150px, 1fr))!important;
    }
}
@media (min-width: 780px) { 
    .bleh {
        grid-column-gap: 45px!important;
        
    }
}
@media (min-width: 850px) { 
    .bleh {
        grid-column-gap: 60px!important;
        
    }
}
@media (min-width: 950px) { 
    #app {
        padding: 0 65px;
    }

    .bleh {
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    }
   /* .open .bleh {
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    } 
    .projects-header.mobile.open  {
      
          margin: 0px 10px 0 0px;
          width: 88%;
          min-width: 400px;
      max-width: 850px;
      }
      */
}
